body{
    background: white;
    display: flex;
}

/*Header*/
.header{
    text-align: center;
    background-image: url(/img/portadaweb1900x1250.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 5rem;

}

.header .container1{
    position: relative;
    width: 100%;
}

.menu-header{
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem; 
    background: rgb(168, 8, 160);
}

.menu-header .container2{
    float: right;
}

.menu-header .container2 li {
    display: inline-block;
    padding: 0.3rem 2.5rem;
}

.menu-header .container2 li a{
    color: white;
    text-decoration: none;
}

.menu-header li:hover{
    background-image: url(/img/circulo_handdraw_verde.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: .2s;
}

